@media screen and (max-width: 700px) { 
    .wrapper{
        width: 90% !important;
        margin: 0 auto !important;


    }
    nav a{
        text-decoration: none !important;
        color: black !important;
        margin-left: 5vw !important;
    }
    
    .nav-container{
        display: flex !important;
        justify-content: space-around !important;
        align-items: center !important;
    }
    
    nav a:hover{
        color: red !important;
    }
    
    .login-buttons a{
        margin-left: 10vw !important;
        text-decoration: none !important;
        color: black !important;
    }
    
    .login-buttons a:hover{
        color: red !important;
    }
    
    .box-model {
        border: 0.9vw solid red !important;
        padding: 0.9vw !important;
        margin: 5vw !important;
    }
    
    .container {
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        border-style: dashed !important;
        
    }
    
    .container {
        display: flex !important;
        justify-content: space-between !important;
        margin: 10vw !important;
        flex-wrap:wrap !important;
    }
    
    .footer {
        text-align: center !important;
        font-size: 50% !important;
        padding: 5vw !important;
    }
    
    .footer img {
        margin: 1vw !important;
    }
    
    .box {
        flex:1 0 50% !important;
    }
    
    .footer {
        flex: 1 0 100% !important;
    }
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 15vw;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover{
    color: red;
}

.login-buttons a{
    margin-left: 5vw;
    text-decoration: none;
    color: black;
}

.login-buttons a:hover{
    color: red;
}

.box-model {
    border:2vw 1 solid red;
    padding: 0.7vw;
    margin: 0.5vw;
}

.round {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: dashed;
    }

.round {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
    flex-wrap:wrap;
}

.box1 {
    flex:1 0 30%;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: dashed;
    
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    flex-wrap:wrap;
}

.footer {
    text-align: center;
    font-size: 50%;
    padding: 5vw;
}

.footer img {
margin: 1vw;
}

.box {
    flex:1 0 25%;
}

.footer1 {
    text-align: center;
    font-size: 50%;
    padding: 5vw;
}

.box2 {
    flex:1 0 10%;
}

.footer1 img {
    margin: 7vw;
    margin-bottom: 0vw
    }
 
.footer1 {
    display: flex;
    justify-content: space-between;
    margin: 0.5vw;
    flex-wrap:wrap;
    padding:-1vw;
}    

.thatimage
{
    width: 100vw;
    height: auto;
}
p {text-align: center;}

.titles {
    margin: 0;
    font-size: 4vw
}